<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pub.doric.android.library.doricbarcodescanner">

    <uses-permission android:name="android.permission.CAMERA" />
    <application>
        <activity android:name="pub.doric.library.scanner.BarcodeScannerActivity" />
    </application>
</manifest>
